body {
    background-color:powderblue;
}

li {
    text-align: center;
    font-family:'Courier New';
    font-size: 25px;
}
table {
    text-align: center;
    font-family:'Courier New';
    font-size: 25px;
}

h1 {
    align-items : center;
    font-family: 'Courier New';
    text-align: center;
}

p {
    align-items : center;
    font-family: 'Courier New';
    text-align: center;
}

.box1 {
    background-color: black;
    position: absolute;
    left: 35%;
    top: 10%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    /* -1/2 width */
    margin-top: -10px;
    /* -1/2 height */
}
.box2 {
    background-color: black;
    position: absolute;
    left: 35%;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    /* -1/2 width */
    margin-top: -10px;
    /* -1/2 height */
}

.box3 {
    position: absolute;
    left: 50%;
    top: 90%;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    /* -1/2 width */
    margin-top: -10px;
    /* -1/2 height */
}
