<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Website Images</title>
    <link rel="stylesheet" href="/views/display.css">
</head>

<body>
	<div>
		<h1>Index</h1>

		<div>
			<div><a href="/img">Images Page</a></div>
			<div><a href="/upload">Upload Images</a></div>
			<div><a href="/showimage">Show Images</a></div>
		</div>
	</div>

</body>

</html>
