<!DOCTYPE html>
<html>
    <head>
        <title>project</title>
        <meta charset="utf-8">
        <script src="app.js"></script>
    </head>
    <body>
        <h1>Home</h1>
        <a href="/register">register</a>
        <a href="/login">Login</a>
        <a href="/imagesPage">Upload Images</a>
    </body>
</html>