<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Login</h1>
        <form action="" method="post">
            <input type="text" placeholder="Name">
            <input type="password" placeholder="Password">
            <input type="submit" placeholder="Login">
        </form>
        

    </body>
</html>